<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Push notifications client</title>
    <script src="index.js"></script>
    <style>
      textarea {
        display: block;
        min-height: 100px;
        min-width: 250px;
      }
    </style>
  </head>
  <body>
    <section class="app">
      <h2>Push notifications client</h2>
      <div>
        <header>Service Worker</header>
        <textarea readonly id="registration-status-message">
          No service worker registration.
        </textarea>
        <button 
          disabled="true"    
          id="register"
          onclick="registerServiceWorker()">
          Register service worker
        </button>
        <button 
          disabled="true"    
          id="unregister"
          onclick="unRegisterServiceWorker()">
          Unregister service worker
        </button>
      </div>
      <div>
        <header>Push Subscripton</header>
        <textarea readonly id="subscription-status-message">
          No push subscription.
        </textarea>
        <button 
          id="subscribe"
          onclick="subscribeToPush()"
          disabled>
          Subscribe to push
        </button>
        <button 
          id="unsubscribe"
          onclick="unSubscribeFromPush()"
          disabled>
          Unsubscribe from push
        </button>
      </div>
    </section>
    <section class="testing">
      <h2>Server Testing</h2>
      <p>Request a test notification from the server.</p>
      <div>
        <button  
          id="notify-me"
          onclick="notifyMe()"
          disabled>
          Notify current subscription
        </button>
        <button   
          id="notify-all"
          onclick="notifyAll()"
          disabled>
          Notify all subscriptions
        </button>
      </div>
    </section>
  </body>
</html>
