<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get started with the Notifications API</title>
    <script src="index.js"></script>
  </head>
  <body>
    <h1>Get started with the Notifications API</h1>
    <div>
      <button onclick = "subscribeToPush();">
        Subscribe to Push
      </button>
      <p id="push"></p>
    </div>
    <div>
      <button onclick = "requestPermission();">
        Request permission to send notifications
      </button>
      <p id="permission"></p>
    </div>
    <button onclick = "sendNotification();">Send a notification</button>

    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
