<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Build a Push server</title>
    <script src="index.js"></script>
  </head>
  <body>
    <div>
      <button 
        disabled="true"    
        id="notify-me"
        onclick="notifyMe()">
        Send test notification to current subscription
      </button>
      <button 
        disabled="true"    
        id="notify-all"
        onclick="notifyAll()">
        Send test notification to all subscriptions
      </button>
    </div>
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
