html {
  box-sizing: border-box;
}

.app {
  width: 360px;
  font-family: Roboto, sans-serif;
}

.app h2 {
  width: 100%;
  line-height: 24px;
  padding: 8px;
  background-color: #123456;
}

.app button {
  padding: 8px 0px 8px 0px;
}