html {
  box-sizing: border-box;
}

.app {
  width: 400px;
  font-family: Roboto, sans-serif;
}

.app h2 {
  background-color: #6200ee;
  padding: 8px;
  font-weight: 500;
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20; 
}

.app button {
  color: #6200ee;
  border: 1px solid;
  background: none;
  padding: 0 15px 0 15px;
  margin: 16px 0px 16px 0px 16px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08929em;
  height: 36px;
}

.app button[disabled] {
  color: #AAAAAA;
}

.app div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  margin-bottom: 16px;
  box-shadow: 3px 3px #DDDDDD;
}

.app div header {
  margin: 16px;
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}


.app p {
  height: 64px;
  margin: 16px;
}
